# **Lead Data Scientist Interview**

This interview is also about assessing your results, but also how you work your thought process

## **SQL**

The initial portion of this test concerns SQL.

In [ ]:
# CREATING THE TABLE
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully");

conn.execute('''
DROP TABLE IF EXISTS team_data;''')


conn.execute('''
CREATE TABLE IF NOT EXISTS team_data(team text, 
                      country text, 
                      season integer, 
                      total_goals integer);''')

conn.execute('''
CREATE TABLE IF NOT EXISTS trophy_data(team text, 
                      country text, 
                      season integer, 
                      trophy_type text);''')

conn.commit()

print("Table created successfully");

# conn.close()

In [ ]:
# INSERTING VALUES

conn.execute("INSERT INTO team_data VALUES('Arsenal', 'UK', 2019, 50 );")
conn.execute("INSERT INTO team_data VALUES('Arsenal', 'UK', 2020, 52);")
conn.execute("INSERT INTO team_data VALUES('Arsenal', 'UK', 2021, 55);")
conn.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2019, 47);")
conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2019, 63);")
conn.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2020, 45);")
conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2020, 49);")
conn.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2021, 49);")
conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2021, 65);")
conn.execute("INSERT INTO team_data VALUES('Bayern', 'Germany', 2019, 55);")
conn.execute("INSERT INTO team_data VALUES('Bayern', 'Germany', 2020, 70 );")
conn.execute("INSERT INTO team_data VALUES('Bayern', 'Germany', 2021, 55);")

conn.execute("INSERT INTO trophy_data VALUES('Bayern', 'Germany', 2021, 'Bundesliga');")
conn.execute("INSERT INTO trophy_data VALUES('Bayern', 'Germany', 2020, 'Bundesliga');")
conn.execute("INSERT INTO trophy_data VALUES('Bayern', 'Germany', 2019, 'Bundesliga');")
conn.execute("INSERT INTO trophy_data VALUES('Real Madrid', 'Spain', 2021, 'LaLiga');")
conn.execute("INSERT INTO trophy_data VALUES('Atletico Madrid', 'Spain', 2020, 'LaLiga');")
conn.execute("INSERT INTO trophy_data VALUES('Barcelona', 'Spain', 2019, 'LaLiga');")
conn.execute("INSERT INTO trophy_data VALUES('Real Madrid', 'Spain', 2021, 'Champions League');")
conn.execute("INSERT INTO trophy_data VALUES('Chelsea', 'Spain', 2020, 'Champions League');")
conn.execute("INSERT INTO trophy_data VALUES('Bayern', 'Spain', 2019, 'Champions League');")

conn.commit()

In [ ]:
cursor = conn.execute("SELECT * FROM team_data;")

for row in cursor:
  print(row)

In [ ]:
cursor = conn.execute("SELECT * FROM trophy_data;")

for row in cursor:
  print(row)

### **Question 1** 
Find the average number of goals scored by a team

**Output Columns**

    Team , avg_goals

In [ ]:
sql = """
;"""

cursor = conn.execute(sql)

for row in cursor:
  print(row)

### **Question 2**
List the team with average goals higher than 55

**Output Columns**

    team_name , avg_goals

In [ ]:
sql = """
;"""

cursor = conn.execute(sql)

for row in cursor:
  print(row)

### **Question 3**
Create a table that contains the winner of the Bundesliga, LaLiga, and Champions league each year.

**Output Columns**

    year, bundesliga_winner , laliga_winner, champions_league_winner

In [ ]:
sql = """
;"""

cursor = conn.execute(sql)

for row in cursor:
  print(row)

### **Question 4**
Create a table that contains the Champions League winner, and the previous years Champions League winner.

**Output Columns**

    year, champions_league_winner, previous_year_champions_league_winner

In [ ]:
sql = """
;"""

cursor = conn.execute(sql)

for row in cursor:
  print(row)

### **Question 5**
Find the team(s) with average goals higher than 50 that have won the **Champions League**.

**Output Columns**

    team_name , avg_goals, trophy_type

In [ ]:
sql = """
;"""

cursor = conn.execute(sql)

for row in cursor:
  print(row)

## **Algorithms**

This section will test your knowledge of machine learning algorithms and implementation.

### **Question 1**:

Using skeleton code, write a k-means algorithm from scratch.

## **Question 2**

What are some of the drawbacks of this algorithm, and how would you go about improving it?

## **Python**

This section will assess your knowledge of Python.

Given two data frames:
- _bills_, with columns [custId, date, amountBilled], showing the amount a customer was billed by date
- _payments_, with columns [custId, date, amountPaid], showing the amount a customer paid by date

### **Question 1**

Load the data using pandas.

### **Question 2**
Compute a data frame with columns [custId, date, outstandingBalance] where:
- Each combination of (custId, date) that occurs in either bills or payments should occur in the result, exactly once.
- The outstandingBalance column is the sum of all amounts billed up to and including date, minus all amounts paid up to and including date

### **Question 3**

Given your data frame, determine:

a) How many customers had active accounts (an amount was billed or paid during the month) for each month

b) How many customers had a nonzero outstanding balance at the end of each month

c) The percentage of customers each month that had a nonzero outstanding balance

## **Modelling in Production**

Congratualtions! You've made it to the final section of the test. This section of the test is more of an informal chat, so feel free to take a breather.

1.   How would you explain the predictions of a ML model?
1.   How would you explain an individual prediction by a ML model?
1.   Can you give an example of regression problem vs a classification problem? 
1.   Imagine we have one model in production, however we've created another challenger model. How would you compare the original model vs the challenger model's performance?
1.   Can you give an example of problems where you'd use linear regression over a tree based model and vice versa?