<a href="https://colab.research.google.com/github/shahasim/hobbs/blob/master/MLE_coding_Ben_Hicks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Introduction to SQL Sub-Queries

This notebook explore the basics of the use of sub-queries with SQL

In [ ]:
# CREATING THE TABLE
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully");

conn.execute('''
DROP TABLE IF EXISTS team_data;''')


conn.execute('''
CREATE TABLE IF NOT EXISTS team_data(team text, 
                      country text, 
                      season integer, 
                      total_goals integer);''')

conn.execute('''
CREATE TABLE IF NOT EXISTS Trophie_data(team text, 
                      country text, 
                      season integer, 
                      trophy_type text);''')

conn.commit()

print("Table created successfully");

# conn.close()

Opened database successfully
Table created successfully

In [ ]:
# INSERTING VALUES

conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2019, 63);")
conn.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2019, 47);")
conn.execute("INSERT INTO team_data VALUES('Arsenal', 'UK', 2019, 52);")
conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2018, 49);")
conn.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2018, 45);")
conn.execute("INSERT INTO team_data VALUES('Arsenal', 'UK', 2018, 50 );")
conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2022, 65);")
conn.execute("INSERT INTO team_data VALUES('Bayern', 'Germany', 2020, 55);")
conn.execute("INSERT INTO team_data VALUES('Bayern', 'Germany', 2021, 70 );")
conn.execute("INSERT INTO team_data VALUES('Bayern', 'Germany', 2022, 55);")

conn.execute("INSERT INTO trophie_data VALUES('Bayern', 'Germany', 2022, 'bundesliga');")
conn.execute("INSERT INTO trophie_data VALUES('Bayern', 'Germany', 2021, 'bundesliga');")
conn.execute("INSERT INTO trophie_data VALUES('Bayern', 'Germany', 2018, 'Champions League');")
conn.execute("INSERT INTO trophie_data VALUES('Real Madrid', 'Spain', 2022, 'Champions League');")
conn.execute("INSERT INTO trophie_data VALUES('Real Madrid', 'Spain', 2022, 'Laliga');")
conn.execute("INSERT INTO trophie_data VALUES('Real Madrid', 'Spain', 2020, 'bundesliga');")
conn.execute("INSERT INTO trophie_data VALUES('Barcelona', 'Spain', 2021, 'Laliga');")
conn.execute("INSERT INTO trophie_data VALUES('Barcelona', 'Spain', 2019, 'Champions League');")
conn.execute("INSERT INTO trophie_data VALUES('Barcelona', 'Spain', 2017, 'Laliga');")

conn.commit()

# **Question 1** 
Find the average number of goals scored by a team

**Output Columns**

    Team , avg_goals

# **Question 2**
Find Team(s) with average goals higher than 50 and have won **Champions League**

**Output Columns**

    team_name , avg_goals, trophy_type

# **Question 3**

You may have used a library function to shuffle an array before.
We'd like you to implement such a function, based on a random number generator.

The generator is a function returns a random integer in [a, b)
    
    def random_int(a, b):
        pass


Given random_int, we'd like you to implement a shuffle function with the following signature:

```
  def shuffle(arr: List[int]): List[int]
```

To be a bit more precise, you'll be given an array of n integers, 
i.e. `arr = [1, 5, 7]`, shuffle should return one of the 6 possible permutations of this array, with equal probability.

Please do not use any random number generator other than random_int.

# **Question 4**


Given two data frames:
- bills, with columns `[custId, date, amountBilled]`, showing the amount a customer was billed by date
- payments, with columns `[custId, date, amountPaid]`, showing the amount a customer paid by date

Compute a data frame with columns `[custId, date, outstandingBalance]` where:
- Each combination of (custId, date) that occurs in either bills or payments should occur in the result, exactly once.
- The outstandingBalance column is the sum of all amounts billed up to and including date, minus all amounts paid up to and including date

Given your data frame, determine:
- How many customers had active accounts (an amount was billed or paid during the month) for each month
- How many customers had a nonzero outstanding balance at the end of each month
- The percentage of customers each month that had a nonzero outstanding balance

# **Chit Chat**